.App {
  text-align: center;
  margin-top: 20px;
}

a.test {
  margin: 15px;
  font-size: xx-large;
}

a.test:link {
  color: aquamarine
}

a.test:visited {
  color: orange
}

a.test:hover {
  color: orchid
}

a.test:active {
  color: oldlace
}

.visited {
  color: orange !important
}